<h1>TweetShirt.io Users</h1>

<% @users.each do |user| %>

<%= image_tag "#{user.profile_image}" %>
<label>Username:</label>
<%= user.username %><br>
<label>Name:</label>
<%= user.name %><br>
<label>Email:</label>
<%= user.email %><br>
<label>Phone:</label>
<%= user.phone_number%><br>
<label>Street Address:</label>
<%= user.street1 %><br>
<label>Suite/Apt Number:</label>
<%= user.street2 %><br>
<label>City:</label>
<%= user.city %><br>
<label>State:</label>
<%= user.state %><br>
<label>Zip:</label>
<%= user.zip %><br><br><br>
<hr>
<label>Current Orders:</label>
orders<br>
<label>Past Ordes:</label>
past orders
<br>
<hr>
<hr>
<% end %>


